<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <link rel="stylesheet" href="./assets/css/style.css">
    <script src="https://kit.fontawesome.com/e7d95647e4.js" crossorigin="anonymous"></script>
</head>

<body>

    <div id="app" class="d-flex">
        <div id="left" class="d-flex">
            <div id="avatar" class="d-flex">
                <img src="./assets/img/avatar_io.jpg" alt="" width="50">
                <div>
                    <i class="fa-solid fa-circle-notch"></i>
                    <i class="fa-solid fa-message"></i>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </div>
            </div>
            <div id="notification" class="d-flex">
                <i class="fa-solid fa-bell-slash"></i>
                <div class="notification-text d-flex">
                    <span>Ricevi notifiche di nuovi messaggi</span>
                    <span>Attiva notifiche dekstop</span>
                </div>
            </div>
            <div id="search-bar" class="d-flex">
                <i class="fa-solid fa-magnifying-glass"></i>
                <input type="search" placeholder="Cerca o inizia una nuova chat" v-model="inputText" @keyup.enter="contactSearch()">
            </div>
            <div id="contact-container" class="d-flex"> 
                <div class="contact-list" v-for="(contact, index) in contacts" :key="index" @click="contactClick(index)">
                    <img :src="contact.image" alt="" width="50">
                    <div class="notification-text d-flex">
                        <span>{{contact.fullname}}</span>
                        <span>{{contact.activity}}</span>
                        <div class="hour">{{contact.hour}}</div>
                    </div>
                </div>
                    <!-- contact-list -->
                </div>
                <!-- left section -->

            </div>

            <div id="right" class="d-flex">
                <div id="chat-intestation" class="d-flex">
                    <div id="name" class="d-flex">
                    </div>

                    <div id="icon" class="d-flex">
                        <i class="fa-solid fa-magnifying-glass-plus"></i>
                        <i class="fa-solid fa-paperclip"></i>
                        <i class="fa-solid fa-ellipsis-vertical"></i>
                    </div>
                </div>
                <div id="chat-text" class="d-flex" >
                    <div class="user d-flex ">
                    </div>
                    <div class="answer"></div>
                </div>
                <div id="write-message" class="d-flex">
                    <i class="fa-regular fa-face-smile"></i>
                    <input type="text" placeholder="Scrivi un messaggio" v-model="writtenMessage" @keyup.enter="writeMessage(index)">
                    <i class="fa-solid fa-microphone"></i>
                </div>
            </div>
            <!-- right section -->
        </div>



        <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
        <script src="./assets/js/main.js"></script>
</body>

</html>